<tr class="action" {{did-update this.publishedObserver this.post.published}}>
  <td>
    {{! template-lint-disable link-href-attributes }}
    <a
      role="button"
      class="btn btn-lg btn-outline btn-ember
        {{if this.post.published 'disabled'}}"
      {{on "click" (fn this.publish this.post)}}
    >Publish post</a>
  </td>
  <td>
    {{#if this.pending}}
      <p class="status text-warning">Pending</p>
    {{else}}
      <p class="status text-success">Waiting</p>
    {{/if}}
    <h4 class="request">posts/1/publish</h4>
  </td>
  <td>
    {{#if this.post.published}}
      <div class={{if this.post.published "show-result"}}>
        <span class="text-muted">Published:</span>
        <span class="h4 text-success">{{this.post.published}}</span>
      </div>
    {{else}}
      <span class="text-muted call-to-action">Call custom action</span>
    {{/if}}
  </td>
</tr>